/ticket-preorder-platform/node_modules/
/ticket-preorder-platform/.next/
/orchestrator/target/
/JWTService/target/
/.vscode/
/ticket-preorder-platform/.idea/
/.idea/
.idea
/AdminService/.idea/
/AdminService/cmake-build-debug/
/orchestrator/.idea/
/OrganizerService/.idea/
/OrganizerService/cmake-build-debug/
/OrganizerService/__pycache__/
/ticker-preorder-platform/.idea/
/UserService/.idea/
/UserService/cmake-build-debug
/AdminService/.idea
/EmailService/.idea
/orchestrator/.idea
/OrganizerService/.idea
/OrganizerService/CMakeFiles
/ticket-preorder-platform/.idea
/.cache
.cache
docker_compose.yml
config
.qodo
