# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic third_party
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static third_party
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin
obj

# IDE Files
*.layout
*.vscode

build/
.cache/

